<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="footer__content" style="display: block;">
                    <span class="footer__copyright" style="display: block; text-align: center;">© Rapid Movie, @DateTime.Now.Year. Developed by <a href="https://ahmetyazbulursun.com" target="_blank">Ahmet Hakan Eroğlu</a>.</span>
                </div>
            </div>
        </div>
    </div>
</footer>