<!DOCTYPE html>
<html lang="en">
<head>
	
	@await Component.InvokeAsync("_HeadComponent")

</head>

<body>

	@await Component.InvokeAsync("_HeaderComponent")
	
	@RenderBody()

	@await Component.InvokeAsync("_FooterComponent")

	@await Component.InvokeAsync("_ScriptsComponent")

</body>
</html>